# Comparing DataFrame Operations between Pandas and Polars libraries

In [ ]:
# Import Libraries 
import pandas as pd
import polars as pl
import pyarrow as pa

## Create DataFrame

In [ ]:
# Pandas
df_pd = pd.DataFrame({'colname1': ['Bob', 'Alice'],
'colname2': [25, 30]})

print(df_pd)

In [ ]:
# Polars
df_pl = pl.DataFrame({'colname1': ['Bob', 'Alice'],
'colname2': [25, 30]})

print(df_pl)

## List Column Names

In [ ]:
# Pandas
list(df_pd.columns)

In [ ]:
# Polars
df_pl.columns

## Subset Columns

In [ ]:
# Pandas
df_pd[['colname1', 'colname2']]

In [ ]:
# Polars
df_pl[['colname1', 'colname2']]

## Get DataFrame Shape

In [ ]:
# Pandas
df_pd.shape

In [ ]:
# Polars
df_pl.shape

## Unique Values in Column

In [ ]:
# Pandas
df_pd['colname1'].unique()

In [ ]:
# Polars
df_pl['colname1'].unique()

## Unique Value Counts by Column

In [ ]:
# Pandas
df_pd['colname1'].value_counts()

In [ ]:
# Polars
df_pl['colname1'].value_counts()

## Bind Columns into a Single DataFrame

In [ ]:
# Pandas
df_pd1 = pd.DataFrame({'Name': ['Bob', 'Alice'],
'Age': [25, 30]})

df_pd2 = pd.DataFrame({'Nationality': ['British', 'America'],
'Eye_Colour': ['Brown', 'Green']})

df_pd_concat = pd.concat([df_pd1, df_pd2], axis = 1)

print(df_pd_concat)

In [ ]:
# Polars
df_pl1 = pl.DataFrame({'Name': ['Bob', 'Alice'],
'Age': [25, 30]})

df_pl2 = pl.DataFrame({'Nationality': ['British', 'America'],
'Eye_Colour': ['Brown', 'Green']})

df_pl_concat = pl.concat([df_pl1, df_pl2], how='horizontal')

print(df_pl_concat)

## Rename Columns

In [ ]:
# Pandas
df_pd = df_pd.rename(columns={'colname1': 'Name', 'colname2': 'Age'})
df_pd

In [ ]:
# Polars
df_pl = df_pl.rename({'colname1': 'Name', 'colname2': 'Age'})
df_pl

## Groupby and Summarise

In [ ]:
# Pandas
df_pd3 = pd.DataFrame({'Name': ['Bob', 'Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob', 'Alice'],
'Units_Sold': [25, 30, 22, 45, 32, 33, 45, 19, None, None],
'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Mar', 'Mar', 'Apr', 'Apr', 'May', 'May']})

df_pd3_grped = (
    df_pd3
    .groupby(['Name'], as_index=False)
    .agg({'Units_Sold': 'sum'})
    .rename(columns = {'Units_Sold': 'Total_Units_Sold'}) 
)

df_pd3_grped

In [ ]:
# Polars
df_pl3 = pl.DataFrame({'Name': ['Bob', 'Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob', 'Alice'],
'Units_Sold': [25, 30, 22, 45, 32, 33, 45, 19, None, None],
'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Mar', 'Mar', 'Apr', 'Apr', 'May', 'May']})

df_pl3_grped = (
    df_pl3
    .group_by([pl.col(['Name'])], maintain_order=True)
    .agg([pl.col("Units_Sold").sum().alias("Total_Units_Sold")])
)

df_pl3_grped

## Filter within Range

In [ ]:
# Pandas
## In range
filter_range = ['Mar', 'Apr']

print(df_pd3[df_pd3.Month.isin(filter_range)])

## Not in Range
print(df_pd3[~df_pd3.Month.isin(filter_range)])

In [ ]:
# Polars
## In range
filter_range = ['Mar', 'Apr']

print(df_pl3.filter(pl.col("Month").is_in(filter_range)))

## Not in Range
print(df_pl3.filter(~pl.col("Month").is_in(filter_range)))

## Filter to Null Rows for a Column

In [ ]:
# Pandas
df_pd3[pd.isnull(df_pd3.Units_Sold)]

In [ ]:
# Polars
df_pl3.filter(pl.col("Units_Sold").is_null())

## Exclude Null Values

In [ ]:
# Pandas
df_pd3.dropna()

In [ ]:
# Polars
df_pl3.drop_nulls()

## Turn Nulls to 0

In [ ]:
# Pandas
df_pd3['Units_Sold'] = df_pd3['Units_Sold'].fillna(0)
df_pd3

In [ ]:
# Polars
df_pl3.select(pl.col("Units_Sold").fill_null(0))

## Bind Rows/ Union All DataFrames

In [ ]:
# Pandas
df_pd4 = pd.concat([df_pd3, df_pd3], axis = 0)
df_pd4

In [ ]:
# Polars
df_pl4 = pl.concat([df_pl3, df_pl3], how = 'vertical')
df_pl4

## Drop Duplicates

In [ ]:
# Pandas 
df_pd4_deduped = df_pd4.drop_duplicates()
df_pd4_deduped

In [ ]:
# Polars 
df_pl4_deduped = df_pl4.unique()
df_pl4_deduped

## Filter Rows

In [ ]:
# Pandas
df_pd3[(df_pd3.Name == "Bob") & (df_pd3.Units_Sold > 30)]

In [ ]:
# Polars
df_pl3.filter((pl.col("Name") == "Bob") & (pl.col("Units_Sold") > 30))

## Mutate Columns

In [ ]:
# Pandas
df_pd3['Units_Sold_Squared'] = df_pd3['Units_Sold'].apply(lambda x: x**2)
df_pd3

In [ ]:
# Polars
df_pl3 = df_pl3.with_columns([
    pl.col("Units_Sold").map_batches(lambda x: x**2).alias("Units_Sold_Squared")
])

df_pl3

## Sort Values

In [ ]:
# Pandas
df_pd3.sort_values(by = ['Units_Sold', 'Name'], ascending = [False, True])

In [ ]:
# Polars
df_pl3.sort([
    pl.col('Units_Sold'),
    pl.col("Name")
    ], descending=  [True, False])

## Select Columns

In [ ]:
# Pandas
df_pd3[['Name', 'Units_Sold']]

In [ ]:
# Polars
df_pl3[['Name', 'Units_Sold']]

## Drop Columns

In [ ]:
# Pandas
df_pd3.drop("Units_Sold_Squared", axis = 1)

In [ ]:
# Polars
df_pl3.select([pl.exclude("Units_Sold_Squared")])

## Check Class and Types

In [ ]:
# Pandas
print(type(df_pd3["Units_Sold"]))

print(df_pd3.dtypes)

In [ ]:
# Polars
print(df_pl3['Units_Sold'].dtype)

print(df_pl3.dtypes)

## Cast Types

In [ ]:
# Pandas
df_pd3['Units_Sold'].astype('int')

In [ ]:
# Polars
df_pl3.with_columns([
    pl.col("Units_Sold").cast(float)
])

## Merging and Joining

In [ ]:
# Pandas
df1_pd = pd.DataFrame({'Name': ['Bob', 'Alice'], 'Age': [25, 30]})
df2_pd = pd.DataFrame({'Name': ['Bob', 'Alice'], 'Eye_Colour': ['Brown', 'Green']})

df_joined_pd = pd.merge(df1_pd, df2_pd, on = ["Name"], how = "left")
df_joined_pd

In [ ]:
# Polars
df1_pl = pl.DataFrame({'Name': ['Bob', 'Alice'], 'Age': [25, 30]})
df2_pl = pl.DataFrame({'Name': ['Bob', 'Alice'], 'Eye_Colour': ['Brown', 'Green']})

df_joined_pl = df1_pl.join(
    df2_pl,
    left_on=["Name"],
    right_on=["Name"],
    how='left'
)
df_joined_pl

## Write CSV

In [ ]:
from pathlib import Path

Path("saved_data/").mkdir(parents=True, exist_ok=True)

In [ ]:
# Pandas
df1_pd.to_csv("./saved_data/df_pd.csv", index=False)

In [ ]:
# Polars
df1_pl.write_csv(r"./saved_data/df_pl.csv", separator=",")

## Read CSV

In [ ]:
# Pandas
df_read_pd = pd.read_csv("./saved_data/df_pd.csv")
df_read_pd

In [ ]:
# Polars
df_read_pl = pl.read_csv("./saved_data/df_pl.csv")
df_read_pl

## Converting Between Polars and Pandas DataFrames

In [ ]:
# Pandas to Polars
pd_df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], columns=["a", "b", "c"])
df = pl.from_pandas(pd_df)
df

In [ ]:
# Polars to Pandas
df1 = pl.DataFrame(
    {
        "foo": [1, 2, 3],
        "bar": [6, 7, 8],
        "ham": ["a", "b", "c"],
    }
)
pandas_df1 = df1.to_pandas()
pandas_df1